<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            Coach AAC est édité par Covéa Technologies - Siège social : 86-90 rue Saint-Lazare 75 009 PARIS
          </p>
          <p>
            <a href="https://www.coachaac.com">Lancez vous dans l'aventure</a> |
            <a href="mailto:equipe@coachaac.com">contactez nous</a> |
            <a href="https://www.coachaac.com/cgu">CGU</a> |
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
